.book {
  background-color: #FF6F59;
  display: flex; 
  flex-direction: row;
  font-family: "Bookman Old Style";
  width: 47%;
  margin-top: 2%;
  margin-left: 2%;
  border-radius: 5px;
}

.book-image {
  width: 30%;
  border-radius: 5px;
}

.book-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.title {
  width: 90%;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.author {
  width: 100%;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  font-size: calc(7px + 2vmin);
}

.genre {
  width: 100%;
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  font-size: calc(4px + 2vmin);
}

.price {
  margin-top: 4%;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  font-size: calc(4px + 2vmin);
}

.addToCart {
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
  width: 50%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  font-family: "Bookman Old Style";
  font-size: calc(4px + 2vmin);
}

button:hover {
  background-color: rgb(181, 181, 181);
}

/*
<div className="book">
      <img src={imgLink} className="book-image" alt="image of BOOK TITLE cover" />
      <div className ="book-info">
        <div className="title">{title}</div>
        <div className="author">{author}</div>
        <div className="genre">{genre}</div>
        <div className="price">{price}</div>
        <button className="addToCart"
          onClick = {onClick}
        > Add to Cart </button>
      </div>
    </div>
*/