.cart-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  font-size: calc(7px + 2vmin);
  font-family: "Bookman Old Style";
  margin-top: 2%;
  margin-left: 4%;
}

.cart-remove {
  margin-right: 1%;
  margin-top: 0.3%;
  /* width: 1.5%;
  height: 2.5px; */
  padding-left: 3px;
  padding-right: 3px;
  width: auto;
  height: 2%;
  background-color: white;
  font-family: "Bookman Old Style";
  font-size: calc(2px + 2vmin);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.cart-text {
  margin-top: 0%;
}

.cart-remove:hover {
  background-color: rgb(181, 181, 181);
}