.App {
  text-align: center;
  background-color: #43AA8B;
  width: 100vw;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  color: white;
  font-family: "Bookman Old Style";
  background-color: #254441;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  text-align: left;
  padding-left: 2.5%;
}

.App-link {
  color: #61dafb;
}

.sort-filters {
  display: flex;
  flex-direction: row;
}

.dropdown {
  margin-top: 1%;
  margin-left: 2%;
  width: 15%;
}

.bookshelf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.Cart-header {
  color: white;
  font-family: "Bookman Old Style";
  background-color: #254441;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  text-align: left;
  padding-left: 2.5%;
  margin-top: 4%;
}

.cart-price {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  font-size: calc(7px + 2vmin);
  font-family: "Bookman Old Style";
  margin-top: 2%;
  margin-left: 4%;
}

/* .cart {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 5%;
} */
